$about-s1-img: "../img/about/about-s1__bg.jpg";
$about-s2__right-col-bg: "../img/index/index-s4__right-bg.png";

$border: 1px solid #bbb;

$color-light-green: #15BF9F;
$color-timber-green: #22363b;

$comingsoon-img: "../img/error_bg.jpg";
$contact-s1-img: "../img/contact/contact-s1__bg.jpg";

$error-img: "../img/error_bg.jpg";
$font-sm-size: 14px;

$index-s4__right-col-bg: "../img/index/index-s4__right-bg.png";

$news-s1-img: "../img/news/news-s1__bg.jpg";

$offer-s1-img: "../img/offer/offer-s1__bg.jpg";
$offer-s2__right-col-bg: "../img/offer/offer-s2__bg.png";
$offer-s3__left-col-bg: "../img/offer/offer-s3__bg.png";
$offer-s4__right-col-bg: "../img/offer/offer-s4__bg.png";
$offer-s5__left-col-bg: "../img/offer/offer-s5__bg.png";
$offer-s6__right-col-bg: "../img/offer/offer-s6__bg.png";

$privacy-img: "../img/error_bg.jpg";